@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2b2f77;
  background: radial-gradient(circle, #2b2f77 0%, #141852 50%, #070b34 100%);
  color: aliceblue;
}

header {
  font-family: Inconsolata;
  height: 600px;
  background-image: url(img/pexels-goumbik-574070.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade-in 2s;
}

header h3 {
  width: 600px;
  padding-top: 50px;
  padding-left: 50px;
  text-align: justify;
}

span {
  color: black;
}

header button {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: black;
  color: blanchedalmond;
  margin-top: 70px;
  position: relative;
  left: 250px;
}

button a {
  text-decoration: none;
  color: aliceblue;
}

button a:hover {
  color: aliceblue;
}

button:hover {
  background-color: rgb(40, 39, 39);
}

.cualesHabilidades {
  margin-top: 30px;
  text-align: center;
}

h3 {
  margin-left: 30px;
  margin-top: 30px;
}

.haibilidades {
  margin-left: 40px;
  margin-right: 40px;
}

.ingles, .español, .italiano {
  padding: 10px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.coder h3 {
  text-align: center;
  margin-bottom: 40px;
}

.funcionalidades i {
  margin-top: 40px;
  margin-bottom: 80px;
}

.bootstrap {
  animation: bounce-in-top 1s;
}

.sass {
  animation: bounce-in-top 1.2s;
}

.html {
  animation: bounce-in-top 1.4s;
}

.css {
  animation: bounce-in-top 1.6s;
}

.git {
  animation: bounce-in-top 1.8s;
}

.github {
  animation: bounce-in-top 2s;
}

.js {
  animation: bounce-in-top 2.2s;
}

.contenedor {
  display: flex;
  justify-content: space-around;
}

.yo {
  height: 20rem;
  width: 20rem;
  margin-left: 80px;
  margin-top: 80px;
  background-position: center;
  border: solid #000;
  border-radius: 50px;
  background-image: url(img/Imagen\ de\ WhatsApp\ 2024-08-02\ a\ las\ 17.42.04_734d5e97.jpg);
}

.caracteristicas span {
  color: #000;
  font-size: 40px;
}

.caracteristicas {
  font-family: Rubik;
  font-size: 17px;
  font-weight: 200;
}

.link {
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 30px;
}

.link a {
  text-decoration: none;
  margin-left: 30px;
  color: aliceblue;
}

.link h2 {
  margin-left: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.link a:hover {
  transition: all 0.1s ease-in-out;
  color: rgb(174, 175, 175);
}

.imgCertificado {
  width: 100%;
  height: 50rem;
  background-image: url(img/certificadoCoder.png);
  background-position: center;
  background-size: cover;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}/*# sourceMappingURL=style.css.map */